@model IEnumerable<Snake.Models.User>
@{
    ViewData["Title"] = "Front Page";
}

<h1>Snake Game!</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>
        You are: @User.Identity.Name 
        <a asp-controller="Auth" asp-action="Logout">Logout</a>
    </p>
    <ul>
        <li><a asp-controller="Game" asp-action="Index">Play!</a></li>
        <li><a asp-controller="Game" asp-action="HighScores">High Scores</a></li>
    </ul>
}
else
{
    <p>You're not logged in.</p>
    <p>Register and login to get to the High Scores, or play for fun in the guest mode.</p>
    <ul>
        <li><a asp-controller="Game" asp-action="Index">Play as a Guest</a></li>
        <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
        <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
    </ul>
}

<hr />

<h2>Currently Registered Users</h2>
<ul>
    @foreach(var user in Model)
    {
        <li>@Html.DisplayFor(modelItem => user.Name)</li>
    }
</ul>

